$colors: (
  primary-color: #f0f0f0,
  secondary-color: #404243,
  bg-primary: #404243,
  bg-secondary: #f0f0f0,
);

$font-size: (
  heading: 2.5rem,
  sideHeading: 1.75rem,
  normal: 1.2rem,
  small: 0.8rem,
  large: 1.5rem,
);
