@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #404243;
  color: #f0f0f0;
  font-family: "Intel One Mono", "DM Sans", "Poppins", sans-serif;
  text-align: center;
}
body header {
  font-size: 2rem;
  padding: 1rem;
}
body main .query {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
body main .query .input {
  background-color: lightgray;
  border-radius: 0.25rem;
  border: none;
  height: 1.5rem;
}
body main .query .btn-search {
  background-color: gray;
  border-radius: 0.25rem;
  border: none;
  height: 1.5rem;
  background-color: gray;
  color: white;
  height: 1.5rem;
  cursor: pointer;
}
body main .query .btn-search:hover {
  background-color: white;
  color: black;
}
body main .query .btn-search .icon {
  font-size: 1rem;
}
body main .results {
  padding: 1rem;
}
body main .results .images .list-image {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
}
body main .results .images .list-image .list-image-item {
  list-style: none;
  width: 100%;
  margin: 1rem auto;
}
body main .results .images .list-image .list-image-item .image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 80%;
  border-radius: 10%;
  transition: filter 0.4s ease;
  filter: brightness(90%);
}
body main .results .images .list-image .list-image-item .image:hover {
  transform: scale(0.99);
  filter: brightness(100%);
}
@media (min-width: 576px) {
  body main .results .images .list-image {
    grid-template-columns: 1fr 1fr;
  }
  body main .results .images .list-image .list-image-item {
    height: 100%;
  }
  body main .results .images .list-image .list-image-item .image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 20rem;
  }
}
@media (min-width: 768px) {
  body main .results .images .list-image {
    grid-template-columns: 1fr 1fr 1fr;
  }
  body main .results .images .list-image .list-image-item {
    height: 100%;
  }
  body main .results .images .list-image .list-image-item .image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 15rem;
  }
}
@media (min-width: 1024px) {
  body main .results .images .list-image {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  body main .results .images .list-image .list-image-item {
    height: 100%;
  }
  body main .results .images .list-image .list-image-item .image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 20rem;
  }
}
body main .results .pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}
body main .results .pagination .btn-page {
  background-color: gray;
  color: white;
  height: 1.5rem;
  cursor: pointer;
  width: 2rem;
}
body main .results .pagination .btn-page:hover {
  background-color: white;
  color: black;
}
body main .results .pagination .btn {
  border-radius: 10%;
  border: none;
}
body main .results .pagination .active {
  background-color: black;
  color: white;
}/*# sourceMappingURL=styles.css.map */